@import "../LoginPage/LoginPage.css";

.otp-inputs {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  gap: 8px;
  margin-bottom: 16px;
}

.otp-inputs input {
  height: 52px;
  text-align: center;
  font-size: 20px;
  font-weight: 850;
}
